*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
}
.navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin:0 auto;
    padding:10px 20px;
    background:#228B22;
}
.logo{
    width:10%;
}
.logo img{
    width:30%;
    border-radius:50px;
}
nav{
    width:50%;
}
nav ul{
    display:flex;
    align-items:end;
    justify-content:space-between;
    width:100%;
    margin:0 auto;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    color:#ffff;
    font-family: 'Montserrat', sans-serif;
    font-size:0.8em;
}
.bug,.cancel{
    display:none;
}
.bug-size{
    display:none;
}
.medication-table p,.dosage-text h5{
    padding:10px 20px;
    text-transform:capitalize;
    text-align:center;
    font-size:1.2em;
}
.medication-table table,.dosage-table table{
    /* padding:10px 20px; */
    width:100%;
    /* border:1px solid red; */
}
.medication-table table th , .dosage-table table th{
    padding:15px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:0.8em;
    background-color:#228B22;
    color:#fff;
    border:none;
    font-weight:light;
    text-transform:capitalize;
}
.medication-table table td,.dosage-table table td{
    padding:10px;
    font-family: 'Montserrat', sans-serif;
    font-size:0.95em;
    text-align:start;
    font-weight:lighter;
}
.dosage-tracking{
    margin:20px auto 0;
}
.dosage-text h5{
    font-weight:lighter;
}
.dosage-text p{
    font-size:0.9em;
    font-family: 'Montserrat', sans-serif;
    line-height:1.5em;
}
.dosage-table{
    margin:10px auto 0;
}
.dosage-table table th{
    background:#228B22;
}
.submit-btn{
    padding:10px;
    width:20%;
    border:none;
    margin:0 auto;
}
.interaction-quotes{
    display:flex;
    align-items:start;
    justify-content:space-between;
    width:100%;
    margin:5px auto 0;
    padding:10px 20px;
}
.interaction{
    width:33%;
    /* background:red; */
}
.interaction h5{
    text-transform:capitalize;
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
    /* text-align:center; */
}
.interaction ul{
    margin:10px auto;
}
.interaction ul li{
    list-style:circle;
    padding:10px 0;
}
.quotes{
    width:33%;
    /* background:red; */
    padding:25px;
    position:relative;
    /* margin:auto; */
}
.myslides{
    display:none;
}
.myslides p{
    font-size:1.2em;
    font-style:italic;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
.interaction-image{
    width:33%;
    /* background:red; */
}
.interaction-image img{
    width:100%;
}
@media screen and (max-width:900px){
    .bug-size{
        background:#228B22;
        padding:20px 20px;
        display:block;
    }
    .navigation{
        display:none;
        background:#228B22;
        padding:10px 20px;
        flex-direction:column;
        align-items:start;
    }
    .cancel,.bug{
        display:block;
    }
    .logo{
        width:40%;
    }
    .cancel,.icon{
        margin:5px 0;
        width:20%;
    }
    nav{
        width:100%;
    }
    nav ul{
        flex-direction:column;
        align-items:start;
    }
    nav ul li{
        margin:15px 0;
    }
    nav ul li a{
        color:#fff;
        font-size:0.9em;
    }
    .dosage-text p{
        text-align:justify;
        width:95%;
        margin:0 auto;
        /* padding:10px 20px */
    }
    .interaction-quotes{
        flex-direction:column;
    }
    .interaction{
        width:100%;
    }
    .interaction h5{
        font-size:1.2em;
    }
    .interaction ul li{
        list-style:none;
    }
    .quotes{
        width:100%;
        padding:0;
    }
    .myslides p{
        font-size:1em;
    }
    .interaction-image{
        width:100%;
        margin:10px auto 0;
    }
}