*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
}
.navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin:0 auto;
    padding:10px 20px;
    background:#228B22;
}
.logo{
    width:10%;
}
.logo img{
    width:30%;
    border-radius:50px;
}
nav{
    width:50%;
}
nav ul{
    display:flex;
    align-items:end;
    justify-content:space-between;
    width:100%;
    margin:0 auto;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    color:#ffff;
    font-family: 'Montserrat', sans-serif;
    font-size:0.8em;
}
.bug,.cancel{
    display:none;
}
.bug-size{
    display:none;
}
.medication-table p,.dosage-text h5{
    padding:10px 20px;
    text-transform:capitalize;
    text-align:center;
    font-size:1.2em;
}
.medication-table table,.dosage-table table{
    /* padding:10px 20px; */
    width:100%;
    /* border:1px solid red; */
}
.dosage-table table{
    border-collapse:collapse;
}
.dosage-table table th,td{
    border:1px solid #b9b9b9;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
    font-size:0.95em;
    text-align:start;
    font-weight:lighter;
}
.dosage-table table td li{
    list-style:none;
    margin:10px auto 0;
}

.dosage-table table th{
    padding:15px;
    text-align:center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size:0.8em;
    font-weight:lighter;
}
.dosage-table table td{
    outline:none;
}
.medication-table table th{
    padding:15px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:0.8em;
    background-color:#228B22;
    color:#fff;
    border:none;
    font-weight:light;
    text-transform:capitalize;
}
.medication-table table td{
    padding:10px;
    font-family: 'Montserrat', sans-serif;
    font-size:0.95em;
    text-align:start;
    font-weight:lighter;
}
.dosage-tracking{
    margin:20px auto 0;
}
.dosage-text h5{
    font-weight:lighter;
}
.dosage-text p{
    font-size:0.9em;
    font-family: 'Montserrat', sans-serif;
    line-height:1.5em;
}
.dosage-table{
    margin:10px auto 0;
}
.dosage-table table th{
    background:#228B22;
}
.submit-btn{
    padding:10px;
    width:20%;
    border:none;
    margin:0 auto;
}
.chat-icon{
    position: fixed;
    bottom:-1px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #228B22;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    z-index: 9999;
}
.chat-icon img{
    width:50%;
}
.chat-container{
    /* background:red; */
    margin:0 auto 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    display:none;
}
.break{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    width:30%;
    margin:0px 960px 0px;
    background:#E8F5E9;
    /* background:rgba(0,0,0,.7); */
    /* padding:20px; */
}
.chat-messages{
    /* border:1px solid red; */
    padding:10px 10px 500px;
    width:100%;
    color:black;
}
.chat-input{
    margin:10px auto 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}
.chat-input input{
    width:80%;
    padding:10px 5px;
    border:none;
    outline:none;
    background:#eeeeee;
    color:black;
}
.chat-input button{
    border:none;
    padding:10px;
    width:19%;
    cursor:pointer;
}
@media screen and (max-width:900px){
    .bug-size{
        background:#228B22;
        padding:20px 20px;
        display:block;
    }
    .navigation{
        display:none;
        background:#228B22;
        padding:10px 20px;
        flex-direction:column;
        align-items:start;
    }
    .cancel,.bug{
        display:block;
    }
    .logo{
        width:40%;
    }
    .cancel,.icon{
        margin:5px 0;
        width:20%;
    }
    nav{
        width:100%;
    }
    nav ul{
        flex-direction:column;
        align-items:start;
    }
    nav ul li{
        margin:15px 0;
    }
    nav ul li a{
        color:#fff;
        font-size:0.9em;
    }
    .dosage-text p{
        text-align:justify;
        width:95%;
        margin:0 auto;
        /* padding:10px 20px */
    }
    .break{
        width:100%;
        margin:0 auto;
        background:#E8F5E9;
    }
    .chat-messages{
        padding:10px 10px 300px;
        color:#fff;
    }
}